body {
    background-color: rgb(116, 231, 106);
}
#contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  #contenedor > div {
    width: 50%;
  }
  label{
      font-size: large;
      font-style: italic;
  }